@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Error</title>
</head>
<body>
    <h4 id="dnt"></h4>
    <script>
        document.getElementById("dnt").innerHTML = Date();
    </script>

    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>

</body>
</html>
